# Dependency environment variables
# Database 
DATABASE_IMAGE=postgres:15.15-trixie
DATABASE_NAME=gate-keeper
DATABASE_USER=postgres
DATABASE_PASSWORD=generate-password-here
DATABASE_PORT=5432

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=generate-password-here
KEYCLOAK_REALM_PATH=./generated/keycloak/
KEYCLOAK_PORT=8080

# Kekcloak Realm
KEYCLOAK_REALM=gate-keeper
KEYCLOAK_CLIENT_NAME=gate-keeper-next-client
KEYCLOAK_CLIENT_ID=gate-keeper-next-client
KEYCLOAK_CLIENT_SECRET=generate-secret-here
KEYCLOAK_APP_URL=http://localhost:3000


# APP
# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="generate-key-here"

# Next Auth Keycloak Provider
AUTH_KEYCLOAK_ID=${KEYCLOAK_CLIENT_ID}
AUTH_KEYCLOAK_SECRET=${KEYCLOAK_CLIENT_SECRET}

# Prisma
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@localhost:${DATABASE_PORT}/${DATABASE_NAME}"
