{
  "realm": "${KEYCLOAK_REALM}",
  "enabled": true,
  "clients": [
    {
      "clientId": "${KEYCLOAK_CLIENT_ID}",
      "enabled": true,
      "publicClient": false,
      "name": "${KEYCLOAK_CLIENT_NAME}",
      "secret": "${KEYCLOAK_CLIENT_SECRET}",
      "redirectUris": [
        "${KEYCLOAK_APP_URL}/*"
      ],
      "protocol": "openid-connect"
    }
  ]
}
